<!-- Main Sidebar Container -->

<!-- Brand Logo -->
<a href="/" class="brand-link text-center">
    <span class="brand-text font-weight-light">GScheduler</span>
</a>

<!-- Sidebar -->
<div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
                <a href="/Staff/Dashboard" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Dashboard
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Staff/Reservation" class="nav-link">
                    <i class="nav-icon far fa-calendar"></i>
                    <p>
                        Reservation
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Staff/Reservation/Pending" class="nav-link">
                    <i class="nav-icon far fa-file"></i>
                    <p>
                       Pending Reservation
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Staff/Reservation/Accepted" class="nav-link">
                    <i class="nav-icon far fa-file"></i>
                    <p>
                       Accepted Reservation
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Staff/Reservation/Cancelled" class="nav-link">
                    <i class="nav-icon far fa-file"></i>
                    <p>
                       Cancelled Reservation
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Staff/Feedbacks" class="nav-link">
                    <i class="nav-icon far fa-file"></i>
                    <p>
                       Feedbacks
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Staff/Logs/Audit" class="nav-link">
                    <i class="nav-icon far fa-file"></i>
                    <p>
                       Audit Logs
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Staff/Logs/User" class="nav-link">
                    <i class="nav-icon far fa-file"></i>
                    <p>
                       User Logs
                    </p>
                </a>
            </li>


        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->
