{% extends 'base.html' %}
{% block content %}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Notification</h1>

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
    <section class="content">
        <div class="container-fluid">
            <section class="content">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Notification</h3>
                    </div> <!-- /.card-body -->
                    <div class="card-body">
                        Your reservation has been confirmed<br>
                        reference number: CGH120940
                        </div>
                    </div><!-- /.card-body -->
                </div>

        </div>
</div>
<!-- /.error-content -->
</div>
<!-- /.error-page -->
</section>
{% endblock %}