<!-- Main Sidebar Container -->

<!-- Brand Logo -->
<a href="/" class="brand-link text-center">
    <span class="brand-text font-weight-light">GScheduler</span>
</a>

<!-- Sidebar -->
<div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
                <a href="/User/Dashboard" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Dashboard
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/User/Reservation" class="nav-link">
                    <i class="nav-icon far fa-file"></i>
                    <p>
                       Reservation
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/User/Reservation/Status" class="nav-link">
                    <i class="nav-icon far fa-file"></i>
                    <p>
                       Reservation Status
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/User/Feedbacks" class="nav-link">
                    <i class="nav-icon far fa-file"></i>
                    <p>
                       Feedbacks
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/User/WriteFeedbacks" class="nav-link">
                    <i class="nav-icon far fa-file"></i>
                    <p>
                        Write Feedback
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/User/Logs" class="nav-link">
                    <i class="nav-icon far fa-file"></i>
                    <p>
                       User Logs
                    </p>
                </a>
            </li>


        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->
