{% extends 'base.html' %}
{% block content %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Feedback Management</h1>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <section class="content">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Feedback List</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example1" class="table table-bordered table-striped table-responsive">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>User</th>
                                            <th>Rating</th>
                                            <th>Date</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for feedback in feedbacks %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ feedback.user.first_name }} {{ feedback.user.last_name }}</td>
                                            <td>{{ feedback.rating }}</td>
                                            <td>{{ feedback.created_at.strftime('%m-%d-%Y') }}</td>
                                            <td>
                                                <div class="btn-group" role="group">
                                                    <!-- Button to Open the Modal -->
                                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                                        data-target="#feedbackModal"
                                                        data-feedback-id="{{ feedback.id }}"
                                                        data-feedback-rating="{{ feedback.rating }}"
                                                        data-feedback-message="{{ feedback.message }}">
                                                        View
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>


                                        {% endfor %}
                                        <!-- end modal -->

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>
<!-- Feedback Modal -->
<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="feedbackModalLabel">Feedback Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" id="feedbackForm">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" id="feedbackId" name="feedback_id">
                    <label for="rating">Rating</label>
                    <div class="form-group">
                        <div class="rate">
                            <input type="radio" id="star5" name="rating" value="5" />
                            <label for="star5" title="5 stars">★</label>
                            <input type="radio" id="star4" name="rating" value="4" />
                            <label for="star4" title="4 stars">★</label>
                            <input type="radio" id="star3" name="rating" value="3" />
                            <label for="star3" title="3 stars">★</label>
                            <input type="radio" id="star2" name="rating" value="2" />
                            <label for="star2" title="2 stars">★</label>
                            <input type="radio" id="star1" name="rating" value="1" />
                            <label for="star1" title="1 star">★</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea id="message" class="form-control" rows="4" name="message" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" name="action" value="update" class="btn btn-primary">Update</button>
                        <button type="submit" name="action" value="delete" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>






{% endblock %}