<!-- Main Sidebar Container -->

<!-- Brand Logo -->
<a href="/" class="brand-link text-center">
    <span class="brand-text font-weight-light">GScheduler</span>
</a>

<!-- Sidebar -->
<div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
                <a href="/Admin/Dashboard" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Dashboard
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Users" class="nav-link">
                    <i class="nav-icon far fa-file"></i>
                    <p>
                        Users List
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Create/User" class="nav-link">
                    <i class="nav-icon far fa-file"></i>
                    <p>
                        Create User
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Logs/User" class="nav-link">
                    <i class="nav-icon far fa-file"></i>
                    <p>
                        Audit Logs
                    </p>
                </a>
            </li>


        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->