{% extends 'base.html' %}
{% block content %}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">User Logs</h1>

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
    <section class="content">
        <div class="container-fluid">
            <section class="content">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">User Logs</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                                </div>
                               
                            </div>
                            <div class="row">
                                <div class="col-sm-12 table-responsive">
                                    <table id="example1" class="table table-bordered table-striped dataTable dtr-inline "
                                        aria-describedby="example1_info">
                                        <thead>
                                            <tr>
                                                <th class=" " tabindex="0" aria-controls="example1"
                                                    rowspan="1" colspan="1" aria-sort="ascending"
                                                    aria-label="Rendering engine: activate to sort column descending">
                                                    ID</th>
                                                <th class="" tabindex="0" aria-controls="example1" rowspan="1"
                                                    colspan="1"
                                                    aria-label="Platform(s): activate to sort column ascending">
                                                    Name</th>
                                                <th class="" tabindex="0" aria-controls="example1" rowspan="1"
                                                    colspan="1" aria-label="Browser: activate to sort column ascending">
                                                    Action</th>
                                                <th class="" tabindex="0" aria-controls="example1" rowspan="1"
                                                    colspan="1"
                                                    aria-label="Platform(s): activate to sort column ascending">
                                                    Date</th>
                                                    <th class="" tabindex="0" aria-controls="example1" rowspan="1"
                                                    colspan="1"
                                                    aria-label="Platform(s): activate to sort column ascending">
                                                    Time</th>
                                                <th class="" tabindex="0" aria-controls="example1" rowspan="1"
                                                    colspan="1"
                                                    aria-label="Engine version: activate to sort column ascending">
                                                    Description</th>
                                      
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in items %}
                                            <tr class="odd">
                                                <td class="dtr-control sorting_1" tabindex="0">{{loop.index}}</td>
                                                <td>{{item.User.first_name}} {{item.User.last_name}}</td>
                                                <td>{{item.Log.action}}</td>
                                                <td>{{item.Log.timestamp.strftime('%m-%d-%Y')}}</td>
                                                <td>{{item.Log.timestamp.strftime('%H:%M')}}</td>
                                                <td>{{item.Log.description}}</td>
                                            </tr>
                                            {% else %}
                                         
                                                    <tr>
                                                        <td class="text-center text-danger" colspan="6">No Data found</td>
                                                    </tr>
                                             
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                                aria-sort="ascending"
                                                aria-label="Rendering engine: activate to sort column descending">
                                                ID</th>
                                            <th class="" tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1"
                                                aria-label="Platform(s): activate to sort column ascending">
                                                Name</th>
                                            <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                                aria-label="Browser: activate to sort column ascending">
                                                Action</th>
                                            <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                                aria-label="Platform(s): activate to sort column ascending">
                                                Date</th>
                                                <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                                aria-label="Platform(s): activate to sort column ascending">
                                                Time</th>
                                            <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                                aria-label="Engine version: activate to sort column ascending">
                                                Description</th>
                                      
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                           
                         
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card-body -->
        </div>
</div>
<!-- /.error-content -->
</div>
<!-- /.error-page -->
</section>
{% endblock %}